<!-- <div class="bg-light lter b-b wrapper-md table-header">
    <h1 class="m-n font-thin h3" translate="nav.crisis_manage"></h1>
</div> -->
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.request_manage">
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <!-- <label >名称</label> -->
                    <input class="form-control" ng-model="model.filterValue" placeholder="{{filter_tip}}">
                </div>

                <div class="form-inline-group">
                    <div class="form-group">
                        <div class="input-group w-sm">
                            <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="model.startTime" is-open="model.startOpened" datepicker-options="dateOptions"
                                close-text="Close" placeholder="开始申请时间"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startOpen($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <span class="dash">-</span>
                    <div class="form-group">
                            <div class="input-group w-sm">
                                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="model.endTime" is-open="model.endOpened" datepicker-options="dateOptions"
                                    close-text="Close" placeholder="结束申请时间"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="endOpen($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                </div>

                <div class="form-group filter-item">
                        <ui-select 
                                    ng-model="model.selectedSite" 
                                    theme="bootstrap" 
                                    ng-disabled="false" 
                                    search-enabled="true"
                                    required>
                            <ui-select-match placeholder="选择机构名称">
                                <span ng-bind="$select.selected.miName"></span>
                            </ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in siteList | filter: $select.search">
                                <span ng-bind-html="item.miName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                </div>

                <button ng-click="search()" class="btn btn-default grid-search" translate="button.search"></button>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body list-con">
            <div class="list-sty" ui-grid="gridOptions"></div>
        </div>
    </div>
</div>