<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.sampletype_manage"></h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.sampletype_manage">
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
                <div class="form-group">
                    <label class="col-sm-2 control-label">上级ID</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.parentId">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">编码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.code">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">中文名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.chtName" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">英文名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.engName">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">排序号</label>
                    <div class="col-md-4">
                        <input placeholder="数字" ng-pattern="/^[0-9]*$/" type="text" class="form-control" ng-model="model.seqNo" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">助记符</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.helpCode">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>