<div class="common-dialog sample-dialog">
    <form name="form" class="form-horizontal form-validation">
        <div class="form-group">
            <label class="col-sm-2 control-label">送检人</label>
            <div class="col-md-4">
                <ui-select ng-model="model.selectedSendUser" theme="bootstrap" ng-disabled="false" search-enabled="true">
                    <ui-select-match>{{$select.selected.emName}}</ui-select-match>
                    <ui-select-choices group-by="'group'" repeat="item in userList | filter: $select.search">
                        <span ng-bind-html="item.emName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">物流接收人</label>
            <div class="col-md-4">
                <ui-select ng-model="model.selectedAcceptUser" theme="bootstrap" ng-disabled="false" search-enabled="true">
                    <ui-select-match>{{$select.selected.emName}}</ui-select-match>
                    <ui-select-choices group-by="'group'" repeat="item in userList | filter: $select.search">
                        <span ng-bind-html="item.emName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">扫码单号</label>
            <div class="col-md-4">
                <input ui-focus="focusFlag" type="text" class="form-control" ng-model="sampleNo" ng-keypress="keypress($event)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">已扫单号</label>
            <div class="col-md-8">
                <div class="label-item" ng-repeat="item in model.barCodes track by $index">{{item}}</div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-primary" translate="button.confirm" ng-click="sendSample()" ng-disabled="form.$invalid"></button>
            </div>
        </div>
    </form>
</div>