<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.employee_manage"></h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.employee_manage">
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
                <div class="form-group select-group">
                    <label class="col-sm-2 control-label required">医疗机构</label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.selectedSite" theme="bootstrap" ng-disabled="false" search-enabled="false" required>
                            <ui-select-match>{{$select.selected.miName}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in siteList | filter: $select.search">
                                <span ng-bind-html="item.miName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group select-group">
                    <label class="col-sm-2 control-label">部门</label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.selectedDept" theme="bootstrap" ng-disabled="false" search-enabled="false">
                            <ui-select-match>{{$select.selected.deptName}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in deptList | filter: $select.search">
                                <span ng-bind-html="item.deptName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">员工编码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.emCode">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">员工名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.emName" required>
                    </div>
                </div>
                <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">生日</label>
                    <div class="col-sm-10">
                        <div class="input-group w-md">
                          <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="model.birthDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                      </div>
                </div> -->
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">身份证号</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.idNumber">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.phone">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">职称名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.titleName">
                    </div>
                </div>
                <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div> -->
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">登录密码</label>
                    <div class="col-md-4">
                        <input name="password" type="password" class="form-control" ng-model="model.password" type="password">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">确认登录密码</label>
                    <div class="col-md-4">
                        <input name="confirm_password" type="password" class="form-control" ng-model="model.password1" type="password" ui-validate=" '$value==model.password' "
                            ui-validate-watch=" 'model.password' ">
                        <span class="error-msg" ng-show='form.confirm_password.$error.validator'>密码不匹配</span>
                    </div>
                </div>
                <div class="form-group select-group">
                    <label class="col-sm-2 control-label required">可访问机构</label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.visitMis" theme="bootstrap" ng-disabled="false" search-enabled="true" multiple required>
                            <ui-select-match>{{$item.miName}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in siteList | filter: $select.search">
                                <span ng-bind-html="item.miName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-2">
                        <a href="" style="margin-left:10px; padding-left:0; margin-top:5px; color:blue; line-height:30px;" ng-click="selectAllOrg()">全选</a>
                        <a href="" style="margin-left:10px; padding-left:0; margin-top:5px; color:blue; line-height:30px;" ng-click="clearOrg()">清空</a>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.desc"></textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>