<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.medical_manage"></h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.medical_manage">
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
            <div class="form-group select-group" ng-hide="isTopMI">
                    <label class="col-sm-2 control-label required">上级机构</label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.selectedParentSite" 
                                    theme="bootstrap" 
                                    ng-disabled="false" 
                                    search-enabled="true"
                                    required>
                            <ui-select-match>
                                <span ng-bind="$select.selected.miName"></span>
                            </ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in parentSiteList | filter: $select.search">
                                <span ng-bind-html="item.miName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构编码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.miCode">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">机构名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.miName" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构类别</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.miCategory">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">所在地区编码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.areaCode">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">机构地址</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.address">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述简介</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.desc"></textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>