<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.category_manage"></h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.category_manage">
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">

                <div class="form-group">
                    <label class="col-sm-2 control-label">检验类别代码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.lcCode">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">检验类别名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.lcName" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">条码前缀</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.barcodePre">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">外部代码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.externalCode">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">颜色</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.color">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">检验次数</label>
                    <div class="col-md-4">
                        <input placeholder="数字" name="examNum" type="text" class="form-control" ng-model="model.examNum" ng-pattern="/^[0-9]+(.[0-9]{4d})?$/">
                        <span class="error-msg" ng-show='form.examNum.$error.validator'>请输入数字</span>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>