<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.labitemset_manage"></h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.labitemset_manage">
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
                <div class="form-group">
                    <label class="col-sm-2 control-label required">组合项目代码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.lisCode" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">组合项目名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.lisName" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">检验项目</label>
                    <!-- <div class="col-md-4">
                        <select ui-jq="chosen" multiple class="w-md">
                            <option value="{{item.id}}" ng-repeat="item in labItemList">{{item.itemName}}</option>
                        </select>
                    </div> -->
                    <div class="col-md-4">
                        <ui-select ng-model="model.labItems" 
                                   theme="bootstrap" 
                                   ng-disabled="false" 
                                   search-enabled="true"
                                   multiple
                                   required>
                            <ui-select-match>{{$item.itemName}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in labItemList | filter: $select.search">
                                <span ng-bind-html="item.itemName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <!-- <div class="col-md-4">
                        <ui-select ng-model="model.selectedlabItem" 
                                   theme="bootstrap" 
                                   ng-disabled="false" 
                                   search-enabled="true"
                                   required>
                            <ui-select-match>{{$select.selected.itemName}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in labItemList | filter: $select.search">
                                <span ng-bind-html="item.itemName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div> -->
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6"  ng-model="model.comment"></textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>