<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.qcvalue_manage"></h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.qcvalue_manage">
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
                <div class="form-group select-group">
                    <label class="col-sm-2 control-label required">质控检验项目</label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.selectedLabItem" theme="bootstrap" ng-disabled="false" search-enabled="true" required>
                            <ui-select-match>{{$select.selected.itemName}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in labItemList | filter: $select.search">
                                <span ng-bind-html="item.itemName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group select-group">
                    <label class="col-sm-2 control-label required">质控机构</label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.selectedSite" 
                                   ng-change="selectSite(model.selectedSite)"
                                   theme="bootstrap" ng-disabled="false" search-enabled="true" required>
                            <ui-select-match>{{$select.selected.miName}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in siteList | filter: $select.search">
                                <span ng-bind-html="item.miName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">仪器名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.instrumentName">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">质控操作员</label>
                    <div class="col-md-4">
                         <ui-select ng-model="model.selectedQcer" theme="bootstrap" ng-disabled="false" search-enabled="true" required>
                                <ui-select-match>{{$select.selected.emName}}</ui-select-match>
                                <ui-select-choices group-by="'group'" repeat="item in filterUserList | filter: $select.search">
                                    <span ng-bind-html="item.emName | highlight: $select.search"></span>
                                </ui-select-choices>
                         </ui-select>
                    </div>
                </div>
                <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">质控时间</label>
                    <div class="col-sm-10">
                        <div class="input-group w-md">
                            <input type="text" 
                                   class="form-control" 
                                   datepicker-popup="yyyy/MM/dd" 
                                   ng-model="model.qcTime" 
                                   is-open="qcOpened"
                                   datepicker-options="dateOptions"
                                   close-text="Close" 
                                   ng-required="true"/>
                            <span class="input-group-btn">
                                <button type="button" 
                                        class="btn btn-default" 
                                        ng-click="qcOpen($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div> -->
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">质控次数</label>
                    <div class="col-md-4">
                        <input placeholder="数字" ng-pattern="/^[0-9]*$/" type="text" class="form-control" ng-model="model.qcNum" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required">值控制</label>
                    <div class="col-md-4">
                        <input placeholder="数字" ng-pattern="/^[0-9]+(.[0-9]{4d})?$/" type="text" class="form-control" ng-model="model.value" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.comment"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注1</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.other1"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注2</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.other2"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注3</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.other3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注4</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.other4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注5</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.other5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注6</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6" ng-model="model.other6"></textarea>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>