<!-- <div class="bg-light lter b-b wrapper-md table-header">
    <h1 class="m-n font-thin h3" translate="nav.crisis_manage"></h1>
</div> -->
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.labresult">
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group filter-item">
                    <!-- <label >名称</label> -->
                    <input class="form-control" ng-model="model.patientName" placeholder="患者姓名">
                </div>

                <div class="form-group filter-item">
                    <!-- <label >名称</label> -->
                    <input class="form-control" ng-model="model.idCard" placeholder="身份证号">
                </div>

                <div class="form-inline-group filter-item">
                    <div class="form-group">
                        <div class="input-group w-sm">
                            <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="model.checkoutDate" is-open="model.startOpened" datepicker-options="dateOptions"
                                close-text="Close" placeholder="检验时间"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startOpen($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <button ng-click="search()" class="btn btn-default grid-search" translate="button.search"></button>
                <!-- <button ng-click="create()" class="btn btn-primary right" translate="button.create"></button> -->
            </form>
        </div>
    </div>
    <div class="panel panel-default">
            <div class="panel-body list-con">
                    <div class="list-sty" ui-grid-pagination ui-grid="gridOptions" ></div>
            </div>
        </div>
</div>
