<div class="container w-xxl w-auto-xs" ng-class="{'per100':autologin}">
    <style>
        .per100 {
            width: 100% !important;
        }
    </style>
    <div ng-hide="autologin">
        <a href class="navbar-brand block m-t" translate="app.name"></a>
        <div class="m-b-lg">
            <form name="form" class="form-validation">
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input placeholder="用户名" class="form-control no-border" ng-model="model.userName" required>
                    </div>
                    <div class="list-group-item">
                        <input type="password" placeholder="密码" class="form-control no-border" ng-model="model.password" required>
                    </div>
                </div>
                <div class="login-err-message">
                    <div ng-hide="!model.errMessage">{{model.errMessage}}</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid' translate="button.login"></button>
            </form>
        </div>
        <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
    </div>
    <div style="text-align:center; margin-top:100px; width:100%;" ng-show="autologin">
        <h1>正在自动登录，请稍候... </h1>
    </div>
</div>