<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.labresult"></h1>
</div>
<div class="wrapper-md">
    <form name="form" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading font-bold" translate="nav.labresult">
            </div>
            <div class="panel-body">
                <div class="form-group select-group">
                    <label class="col-sm-2 control-label">申请单</label>
                    <div class="col-md-4">
                        <ui-select ng-model="data.selectedlabItem" theme="bootstrap" ng-disabled="false" search-enabled="true">
                            <ui-select-match>{{$select.selected.requestNo}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in itemList | filter: $select.search">
                                <span ng-bind-html="item.requestNo | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-repeat="item in model.labInfos track by $index">
            <div class="panel-body">
                <div class="form-group">
                        <label class="col-md-1 control-label col-md-offset-1">项目名称：</label>
                        <div class="col-md-1">
                            <label class="control-label">{{item.labItem.itemName}}</label>
                        </div>
                        <label class="col-sm-1 control-label">检验类别：</label>
                        <div class="col-md-1">
                            <label class="control-label">{{item.labItem.categoryName}}</label>
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-md-1 control-label col-md-offset-1 required">英文名</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" ng-model="item.labResult.englishName" required>
                    </div>
                    <label class="col-sm-1 control-label required">中文名</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" ng-model="item.labResult.chtName" required>
                    </div>
                    <label class="col-sm-1 control-label">检验结果值</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" ng-model="item.labResult.resultValue">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label col-md-offset-1 required">结果范围值</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" ng-model="item.labResult.refRange" required>
                    </div>
                    <label class="col-sm-1 control-label">检验结果单位</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" ng-model="item.labResult.unit">
                    </div>
                    <label class="col-sm-1 control-label required">排序</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" ng-model="item.labResult.seqNo" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-1 control-label col-md-offset-1 required">参考最低值</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" ng-model="item.labResult.refLo" required>
                    </div>
                    <label class="col-sm-1 control-label required">参考最高值</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" ng-model="item.labResult.refHi" required>
                    </div>
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>